<mat-toolbar color="primary">
  <span (click)="goToHome()" class="main-title">TODO-app: by misur</span>

  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
          routerLink="weather">
    <mat-icon>wb_sunny</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened #drawer>
    <sidebar></sidebar>
  </mat-drawer>
  <mat-drawer-content>
    <mat-card>
      <mat-card-content>
        <router-outlet></router-outlet>
        <button type="button" mat-button (click)="drawer.toggle()">
          Toggle sidenav
        </button>

      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <add-new-task></add-new-task>
      </mat-card-content>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>




